{% extends "base.jinja" %}

{% block contenu %}
<h2>Tableau de bord administrateur</h2>
<p>Bienvenue, {{ utilisateur.nom }} (Admin)</p>

<ul>
  <li><a href="{{ url_for('comptes.liste_utilisateurs') }}">Gérer les utilisateurs</a></li>
  <li><a href="{{ url_for('services.liste') }}">Gérer les services</a></li>
  <li><a href="{{ url_for('comptes.deconnexion') }}">Déconnexion</a></li>
</ul>
{% endblock %}
