{% extends "base.jinja" %}

{% block contenu %}
<h2>Espace utilisateur</h2>
<p>Bienvenue, {{ utilisateur.nom }}</p>

<ul>
  <li><a href="{{ url_for('services.liste') }}">Voir les services disponibles</a></li>
  <li><a href="{{ url_for('comptes.deconnecter') }}">Déconnexion</a></li>
</ul>
{% endblock %}
