
{% extends "base.jinja" %}

{% block contenu %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card text-bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">Confirmation</div>
            <div class="card-body">
                <p class="card-text">{{ message }}</p>
                <a href="/" class="btn btn-light mt-3">Retour à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}
    

