<!DOCTYPE html>
<html lang="fr">

<head>
    <title>{% block title %}Accueil{% endblock %} | Mon super site</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://www.cegepgarneau.ca/favicon.ico" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <div class="container">
            <h1>
                <a href="{{ url_for('index') }}" class="text-decoration-none text-dark">Mon super site</a>
            </h1>

            <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-dark-subtle">
                <div class="container-fluid justify-content-center">
                    <ul class="nav nav-underline">

                        <li class="nav-item">
                            <a class="nav-link {% block active_accueil %}{% endblock %}"
                                href="{{ url_for('index') }}">Accueil</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% block active_ajout %}{% endblock %}"
                                href="{{ url_for('services.ajouter_service') }}">Ajouter service</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% block active_liste %}{% endblock %}"
                                href="{{ url_for('services.liste') }}">Liste services</a>
                        </li>

                        {% if session.get('id_utilisateur') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('comptes.deconnexion') }}">
                                {# Se déconnecter ({{ session.get('nom') }} #}
                                {% if session.get('est_admin') %}
                                <span class="badge bg-danger">Admin</span>
                                {% else %}
                                <span class="badge bg-primary">Utilisateur</span>
                                {% endif %}
                                )
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('comptes.connexion') }}">
                                Se connecter
                            </a>
                        </li>
                        {% endif %}


                    </ul>
                </div>


                <div class="d-flex ms-3">
                    <a href="{{ url_for('choisir_langue', langue='fr_CA') }}"
                        class="btn btn-outline-primary btn-sm {% if langue == 'fr_CA' %}active{% endif %} me-1">FR</a>
                    <a href="{{ url_for('choisir_langue', langue='en_CA') }}"
                        class="btn btn-outline-primary btn-sm {% if langue == 'en_CA' %}active{% endif %} me-1">EN
                        (CA)</a>
                    <a href="{{ url_for('choisir_langue', langue='en_US') }}"
                        class="btn btn-outline-primary btn-sm {% if langue == 'en_US' %}active{% endif %}">EN (US)</a>
                </div>
            </nav>
        </div>
    </header>

    <main class="container mt-4">
        {% block contenu %}
        {% endblock %}
    </main>

    <footer class="text-center mt-4 py-3 border-top">
        <p>Tchamdja Milca &copy; 2025</p>
    </footer>
</body>

</html>