
<!DOCTYPE html>
<html lang="fr">

<head>
    <title>{%block title%}Accueil{% endblock%}| Mon super site</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://www.cegepgarneau.ca/favicon.ico" />
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css" />

</head>

<body>
    <header>
        <div class="container">
            <h1>
                <a href="/" class="text-decoration-none text-dark">Mon super site</a>
            </h1>


            <nav class="navbar navbar-expand-lg bg-body-tertiary  border-bottom border-dark-subtle">
                <div class="container-fluid justify-content-center ">
                    <ul class="nav nav-underline  ">
                        <li class="nav-item">
                            <a class="nav-link {% block active_accueil %}{% endblock %}" href="/">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block active_ajout %}{% endblock %}" href="/ajout">Ajouter service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block active_liste %}{% endblock %}" href="/liste">Liste services </a>
                        </li>
                    </ul>
                </div>

                <div class="d-flex ms-3">
                    <a href="/choisir_langue?langue=fr_CA"
                        class="btn btn-outline-primary btn-sm {% if langue=='fr_CA' %}active{% endif %} me-1">FR</a>
                    <a href="/choisir_langue?langue=en_CA"
                        class="btn btn-outline-primary btn-sm {% if langue=='en_CA' %}active{% endif %} me-1">EN
                        (CA)</a>
                    <a href="/choisir_langue?langue=en_US"
                        class="btn btn-outline-primary btn-sm {% if langue=='en_US' %}active{% endif %}">EN (US)</a>
                </div>
            </nav>
        </div>
    </header>



    <main>
        {% block contenu %}
        <ul>
            <li></li>
        </ul>
        {% endblock %}

    </main>
    <footer class="text-center mt-4 py-3 border-top">
        <p>Tchamdja Milca &copy; 2025</p>
    </footer>


</body>

</html>