{# Template pour l'index #}
{% extends "base.jinja" %}

{% block contenu %}
   <div class="container mt-4">
    {% if services %}
        <div class="row">
            {% for s in services %}
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                <img src="static/images/img2.jpg" class="card-img-top" alt="1">
                <div class="card-body">
                    <h5 class="card-title">{{ s.titre }}</h5>
                    <p class="card-text">{{s.localisation}}
                    </p>
                    <p class="card-text">{{s.nom_categorie}}
                    </p>
                   
                </div>
            </div>

            </div>
            
            {% endfor %}
        </div>
    
    {% else %}
       <p>Aucun service n'a été ajouté pour le moment.</p>
    {%endif%}
</div>    

{% endblock %}