{# Template pour l'index #}
{% extends "base.jinja" %}

{% block contenu %}
    <h2 class="mb-4 text-center">Modifier un Service</h2>
    <form method="post" action="/modifier?id={{ service.id_service }}" novalidate="novalidate">
        <div class="mb-3">
            <label for="titre" class="form-label">Titre</label>
            <input type="text" class="form-control {{ class_titre }}" id="titre" name="titre" required value="{{ titre }}">
            <div class="invalid-feedback">
                Veuillez entrer un titre.
            </div>
        </div>
        <div class="mb-3">
            <label for="localisation" class="form-label">Localisation (ville)</label>
            <input type="text" class="form-control {{ class_localisation }}" id="localisation" name="localisation" required value="{{ localisation }}">
            <div class="invalid-feedback">
                Veuillez entrer la localisation.
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control {{ class_description }}" id="description" name="description" rows="3" required>{{ description }}</textarea>
            <div class="invalid-feedback">
                Veuillez entrer une description.
            </div>
        </div>
        <div class="mb-3">
            <label for="cout" class="form-label">Coût</label>
            <input type="number" class="form-control {{ class_cout }}" id="cout" name="cout" min="5" step="0.01" required value="{{ cout }}">
            <div class="invalid-feedback">
                Veuillez entrer un coût valide.
            </div>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="statut" name="statut" value="1"
                {% if statut == '1' or statut is none %}checked{% endif %}>
            <label class="form-check-label" for="statut">
                Actif
            </label>
        </div>

        <div class="mb-3">
            <label for="categorie" class="form-label">Catégorie</label>
            <input type="text" class="form-control" id="categorie" name="categorie" value="{{ service.categorie }}" disabled>
        </div>

        <div class="mb-3">
            <label for="photo" class="form-label">Photo (nom)</label>
            <input type="text" class="form-control {{ class_nom_photo }}" id="photo" name="photo" value="{{ photo }}">
            <div class="invalid-feedback">
                Veuillez entrer un nom valide pour la photo.
            </div>
        </div>
     
        <button type="submit" class="btn btn-primary">Enregistrer modifications service</button>
        
    </form>
       
            
            <div class="card-footer text-body-secondary">
                Dernière mise à jour : {{ service.date_creation }}
            </div>
        </div>
   
{% endblock %}